<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>    
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/stuAnswerProcess.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <%- include("share/header") %>
    <div class="main-wrapper">
        <%- include("share/stumenu")%>
      <div class="main-box">

        <div class="content-box">
          <div class="desc">我的答案</div>
            <div class="main">
                <% if(trData.length > 0) {%>
                <% for(var k=0;k<trData.length;k++) {%>
                <div class="main-item" data-id="<%= k%>">
                    <div class="item-content">
                        <select class="default-value" data-handle="<%= trData[k]['handled_answer']%>" data-tag="<%= trData[k]['answer']%>" data-courseitemid="<%= trData[k]['course_item_id']%>" data-itemscore="<%= trData[k]['item_score']%>">
                            <option value="0" class="noselect">请选择你的答案</option>
                            <% for(var i=0;i<trData.length;i++) {%>
                                <% if(trData[i]['if_handle'] == 0) {%>
                                    <option class="option<%=i%>" value="<%= trData[i]['title']%>"><%= trData[i]['course_item']%></option>
                                <%} else {%>
                                    <option  class="option<%=i%>" value="<%= trData[i]['title']%>"><%= trData[i]['course_item']%></option>
                                <%}%>
                            <%}%>
                        </select>
                        <%if(k < trData.length-1) {%>
                        <p class="item-bg"></p>
                        <%}%>
                    </div>
                    </div>
                    <%}%>
                <%}%>
      </div>
      <div class="answer-box">
          <% var num = 0%>
          <%for(var i=0;i<trData.length;i++){%>
              <% num+= trData[i]['score']?trData[i]['score']*1:0%>
              <%if(trData[i]['score'] > 0){%>
                <span><%= trData[i]['title'] %>、<%= crr[trData[i]['handled_answer']-1]%>（<i class="right">正确</i>）</span>
              <%}else{%>
                <span><%= trData[i]['title'] %>、<%= crr[trData[i]['handled_answer']-1]%>（<i class="error">错误</i>）</span>
              <%}%>
          <%}%>
          <p class="score">得分：<span><%= num%>分</span></p>
        </div>
      </div>
    </div>
    <script type="text/javascript">
        $(".main select").each(function() {
            var pthis = $(this);
            var handled_answer = $.trim($(pthis).data('handle'))
            $(this).attr('old',handled_answer)
            $(pthis).find("option").each(function() {
                if($(this).val() == handled_answer) {
                    $(pthis).find("option").not("option[value='0']").eq(handled_answer-1).prop('selected',"selected")
                }
            })
            if(handled_answer == 0) {
                $(pthis).find("option[value='0']").prop('selected',"selected")
            } 
            $(".main select").closest(".main-item").siblings("div").find("option[value="+handled_answer+"]").not("option[value='0']").hide()
        })
        $(".main select").change(function() {
            oldVal = $(this).attr('old');
            var _thisValue = $(this).find("option:selected").val();
            $(this).closest(".main-item").siblings(".main-item").find("option[value="+_thisValue+"]").not("option[value='0']").hide();
            $(this).closest(".main-item").siblings(".main-item").find("option[value="+oldVal+"]").show();
            $(this).find("option[value="+oldVal+"]").show();
            $(this).attr("old",_thisValue)
        })
    </script>
</body>

</html>