<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/stuAfterClass.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <%- include("share/header") %>
    <div class="main-wrapper">
        <%- include("share/stumenu")%>
      <div class="main-box">
          <input type="hidden" value="<%= token%>" id="tokend">
          <input type="hidden" value="<%= batch%>" id="batch">
    
          <div class="content-box">
            <div class="main">
              <video src="/img/01.mp4" controls="controls"></video>
            </div>
            <div class="comments">
              <p class="file-report">填写报告</p>
              <div class="com-box">
                <div class="header-icon">
                  <img src="./images/icon/header.png" alt="">
                </div>
                <div class="comments-main">
                  <textarea name="commented" id="commented" cols="30" rows="6" placeholder="填写报告内容..."></textarea>
                </div>
              </div>
            </div>
            <div class="btn-box">
              <button class="sbtn">提交</button>
            </div>
          </div>
      </div>
    </div>
    <script type="text/javascript">
        $(".sbtn").on("click",function() {
                var tokend = $.trim($("#tokend").val())
                var batch = $.trim($("#batch").val())
                var commented = $.trim($("#commented").val())
                if(commented == '' || commented == null) {
                    layer.alert('请输入报告内容',{
                        title:'温馨提示'
                    })
                }else{
                    $.ajax({
                        type:'POST',
                        url:'<%= baseurl%>/v1/api/stu/vrrecord/submit?token='+tokend+"&batch="+batch+"&remark="+commented,
                        dataType:'json',
                        contentType: "application/json",
                        success:function(res) {
                           if(res.success == 1 && res.code == 200) {
                                layer.alert(res.msg,{
                                    title:'温馨提示',
                                    yes:function(){
                                        window.location.reload()
                                    }
                                })
                           }else{
                                layer.alert(res.msg,{
                                    title:'温馨提示',
                                    yes:function(){
                                        window.location.reload()
                                    }
                                })
                           }
                            
                        }
                    })
                }
            })
    </script>
</body>

</html>