<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/stuBeforeClass.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <%- include("share/header") %>
    <div class="main-wrapper">
      <%- include("share/stumenu")%>
      <div class="main-box">
        <input type="hidden" name="batch" id="batch" value="<%= batch%>">
        
          <div class="left-sidebar">
            <h3>课前习题</h3>
            <input type="hidden" value="<%= token%>" id="tokend">
            <input type="hidden" value="<%= batch%>" id="batch">
            <div class="student-front">
              <img src="./images/student-front.png" alt="student">
            </div>
            <ul class="side-list">
              <li>
                <a target="_blank" href="./doc/task.doc">· 学习金黄色葡萄球菌检验内容</a>
              </li>
              <li>
                <a href="./doc/pretask.doc">· 自主学习国家标准GB 4789.10-2016</a>
              </li>
              <li>
                <a href="">· 完成右边预习题</a>
              </li>
            </ul>
          </div>
          <div class="content-box">
              <% if(courseList.length > 0) {%>
              <% for(var i=0;i<courseList.length;i++) {%>
              <div class="list">
                <div class="requestion-box clearfix">
                  <div class="requestion"><span><%= i+1%></span> <%= JSON.parse(courseList[i]['course_item'])['q']%> （
                    <% var cnum = JSON.parse(courseList[i]['course_item'])['c'] %>
                    <% for(var k=0;k<cnum.length;++k) {%>
                        <i class="answer <%= i%>_<%= cnum[k]%>"><%= makeOrder(k)%></i>
                    <%}%>）
                  </div>
                  <input type="hidden" class="answer-hidden" value="<%= JSON.stringify(courseList[i])%>"/>
                  <div class="check-answer awrong" style="display: none">
                    <span>
                      <i class="iconfont icon-cuowu"></i>正确</span>
                  </div>
                </div>
                <% for(var k=0;k<cnum.length;++k) {%>
                  <label class="item">
                      <input type="checkbox" value="<%= i%>_<%= cnum[k]%>">
                      <span></span><%= makeOrder(k)%>.<%= cnum[k]%>
                  </label>
                <%}%>
              </div>
              <%}%>
              <%}%>
              <div class="btn-box">
                <input type="submit" class="sbtn" value="提交">
              </div>
          </div>
      </div>
    </div>
    <script type="text/javascript">
      var batch = $.trim($("#batch").val())
      var check = [];
      $(".answer-hidden").each(function(index,item) {
        check.push($.trim($(item).val()))
      })

      let initObj = {};
      for(var i=0;i<check.length;i++){
        initObj[i] = {}
        initObj[i]['answer'] = [];
        initObj[i]['classBatch'] = batch;
        initObj[i]['id'] = '';
        initObj[i]['courseItemId'] = 0;
        initObj[i]['isRight'] = -1;
        initObj[i]['score'] = 0;
        initObj[i]['userLoginname'] = JSON.parse(JSON.parse(localStorage.getItem('userInfo'))['user'])['userLoginname'];
      }
      $(".item").on("click", function () {
        var answerd = $.trim($(this).find('input[type="checkbox"]').val());
        if ($(this).find('input[type="checkbox"]').prop('checked')) {
          $(this).siblings('.requestion-box').find('.' + answerd).show()
        } else {
          $(this).siblings('.requestion-box').find('.' + answerd).hide()
        }
      })


      $(".sbtn").on("click",function() {
        var answerArr = [];
        $(".item input[type='checkbox']:checked").each(function (index,item){
          answerArr.push($(item).val())
        })
        
        for(var i=0;i<answerArr.length;++i) {
          if(answerArr[i]) {
            if(!contains(initObj[answerArr[i].split('_')[0]]['answer'],answerArr[i].split('_')[1])) {
              initObj[answerArr[i].split('_')[0]]['answer'].push(answerArr[i].split('_')[1])
              JSON.stringify(initObj[answerArr[i].split('_')[0]]['answer'])
            }
          }
        }
        Object.keys(initObj).forEach(function(item,index) {
          initObj[item]['answer'] = JSON.stringify(initObj[item]['answer'])
        })

        for(var i=0;i<check.length;++i) {
          initObj[i]['courseItemId'] = JSON.parse(check[i])['course_item_id'];
          initObj[i]['id'] = JSON.parse(check[i])['course_id'];
          if(initObj[i]['answer'] == JSON.stringify(JSON.parse(JSON.parse(check[i])['answer'])['a'])) {
            initObj[i]['answer'] = JSON.stringify(initObj[i]['answer']);
            initObj[i]['isRight'] = 0;
            initObj[i]['score'] = JSON.parse(check[i])['item_score'];
          }
        }
        var dataArr = [];
        for(var attr in initObj) {
          dataArr.push(initObj[attr])
        }
        var tokend = $.trim($("#tokend").val())
        var batch = $.trim($("#batch").val())
        $.ajax({
          type:'post',
          url:'<%= baseurl%>/v1/api/course/submit?token='+tokend+"&batch="+batch,
          dataType:'json',
          contentType: "application/json",
          data:JSON.stringify(dataArr),
          success:function(res) {
            if(res.code == 200 && res.success == 1) {
                layer.alert(res.msg,{
                    title:'温馨提示',
                    yes:function(){
                      window.location.reload()
                    }
                })
            }else{
              layer.alert(res.msg,{
                  title:'温馨提示',
                  yes:function(){
                    window.location.reload()
                  }
              })
            }
          },
          error:function(err) {
            layer.alert('网络错误，请稍后再试',{
                title:'温馨提示',
                yes:function(){
                  window.location.reload()
                }
            })
          }
        })
      })

      function contains(arr, obj) {  
          var i = arr.length;  
          while (i--) {  
              if (arr[i] === obj) {  
                  return true;  
              }  
          }  
          return false;  
      }
    </script>
</body>

</html>