<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/stuCheckProcess.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <%- include("share/header") %>
    <div class="main-wrapper">
      <div class="main-box">
        <%- include("share/menu")%>
        <div class="content-box">
          <div class="desc">请选择检验流程中空白部分的答案</div>
          <!-- <form action="" method="post"> -->
              <div class="main">
                  <input type="hidden" id="userLoginname" value="<%= userLoginname%>">
                  <input type="hidden" id="classBatch" value="<%= batch%>">
                <% if(dataList.length > 0) {%>
                  <% for(var k=0;k<dataList.length;k++) {%>
                  <div class="main-item">
                    <div class="item-content">
                        <select class="default-value" data-tag="<%= dataList[k]['answer']%>" data-courseitemid="<%= dataList[k]['course_item_id']%>" data-itemscore="<%= dataList[k]['item_score']%>">
                            <option value="0">请选择</option>
                            <% for(var i=0;i<dataList.length;i++) {%>
                                <option value="<%= dataList[i]['title']%>"><%= dataList[i]['course_item']%></option>
                            <%}%>
                        </select>
                        <p class="item-bg"></p>
                    </div>
                    </div>
                    <%}%>
                    <%}%>
                </div>
              <div class="btn-box">
                  <input type="submit" class="sbtn" value="提交">
              </div>
          <!-- </form> -->

      </div>
      </div>
    </div>
    <!-- 提交成功tips -->
    <div class="tips-wrapper" style="display: none">
      <div class="tips-box">
          <a class="iconfont icon-guanbi1 icon-closed"></a>
          <div class="tips-icon"><i class="iconfont icon-chenggong"></i></div>
          <p class="tips-msg">提交成功</p>
      </div>
  </div>
  <script type="text/javascript">
    $(".icon-closed").on("click",function(){
        $(".tips-wrapper").addClass('hides')
    })

    $(".sbtn").on("click",function() {
        var userLoginname = $.trim($('#userLoginname').val())
        var classBatch = $.trim($('#classBatch').val())
        var arr = []
        $(".default-value").each(function(index,item) {
            var rightanswer = $.trim($(item).data('tag'))
            var courseItemId = $.trim($(item).data('courseitemid'))
            var itemScore = $.trim($(item).data('itemscore'))
            var nowAnswer = $.trim($(item).val())
            var obj = {
                answer:nowAnswer,
                classBatch:classBatch,
                courseItemId:courseItemId,
                isRight:0,
                score:0,
                useTime:0,
                userLoginname:userLoginname
            }
            if(rightanswer == nowAnswer) {
                obj['score'] = itemScore*1,
                isRight = 1
            }
            arr.push(obj) 
        })
        $.ajax({
            type:'post',
            url:'/subAnswer',
            dataType:'json',
            data:{exams:arr},
            success:function(res) {
                console.log(res)
            },
            error:function(error) {
                console.log(error)
            }
        })
    })

</script>
</body>

</html>