<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/stuCheckProcess.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <%- include("share/header") %>
    <div class="main-wrapper">
      <div class="main-box">
        <%- include("share/stumenu")%>
        <div class="content-box">
          <div class="desc">请选择检验流程中空白部分的答案</div>
          <!-- <form action="" method="post"> -->
              <div class="main">
                  <input type="hidden" value="<%= token%>" id="tokend">
                  <input type="hidden" value="<%= batch%>" id="batch">
                  <input type="hidden" id="userLoginname" value="<%= userLoginname%>">
                  <input type="hidden" id="classBatch" value="<%= batch%>">
                <% if(dataList.length > 0) {%>
                  <% for(var k=0;k<dataList.length;k++) {%>
                  <div class="main-item">
                    <div class="item-content">
                        <%if(dataList[k]['if_handle'] == 0) {%>
                        <select class="default-value" data-tag="<%= dataList[k]['answer']%>" data-courseitemid="<%= dataList[k]['course_item_id']%>" data-itemscore="<%= dataList[k]['item_score']%>">
                            <% if((k+1) == dataList[k]['title']) {%>
                                <option selected="selected" class="option<%=k%>" value="<%= dataList[k]['title']%>"><%= dataList[k]['course_item']%></option>
                            <%} else {%>
                                <option class="option<%=k%>" value="<%= dataList[k]['title']%>"><%= dataList[k]['course_item']%></option>
                            <%}%>
                        </select>
                        <% }else {%>
                            <select class="default-value" data-tag="<%= dataList[k]['answer']%>" data-courseitemid="<%= dataList[k]['course_item_id']%>" data-itemscore="<%= dataList[k]['item_score']%>">
                                <option value="0" class="noselect">请选择</option>
                                <% for(var i=0;i<dataList.length;i++) {%>
                                    <option <%= (i+1) == dataList[i]['title'] ?'selected = selected ':''%> class="option<%=i%>" value="<%= dataList[i]['title']%>"><%= dataList[i]['course_item']%></option>
                                <%}%>
                            </select>
                        <%}%>
                        <%if(k < dataList.length-1) {%>
                          <p class="item-bg"></p>
                        <%}%>
                    </div>
                    </div>
                    <%}%>
                    <%}%>
                </div>
              <div class="btn-box">
                  <input type="submit" class="sbtn" value="提交">
              </div>
          <!-- </form> -->

      </div>
      </div>
    </div>
    <!-- 提交成功tips -->
    <div class="tips-wrapper" style="display: none">
      <div class="tips-box">
          <a class="iconfont icon-guanbi1 icon-closed"></a>
          <div class="tips-icon"><i class="iconfont icon-chenggong"></i></div>
          <p class="tips-msg">提交成功</p>
      </div>
  </div>
  <script type="text/javascript">
    $(".icon-closed").on("click",function(){
        $(".tips-wrapper").addClass('hides')
    })

    $(".sbtn").on("click",function() {
        var tokend = $.trim($("#tokend").val())
        var batch = $.trim($("#batch").val())
        var userLoginname = $.trim($('#userLoginname').val())
        var classBatch = $.trim($('#classBatch').val())
        var arr = []
        $(".default-value").each(function(index,item) {
            var rightanswer = $.trim($(item).data('tag'))
            var courseItemId = $.trim($(item).data('courseitemid'))
            var itemScore = $.trim($(item).data('itemscore'))
            var nowAnswer = $.trim($(item).val())
            var obj = {
                answer:nowAnswer,
                classBatch:classBatch,
                courseItemId:courseItemId,
                isRight:-1,
                score:0,
                useTime:0,
                userLoginname:userLoginname
            }
            if(rightanswer == nowAnswer) {
                obj['score'] = itemScore*1,
                obj['isRight'] = 0
            }
            arr.push(obj) 
        })
        
        $.ajax({
            type:'post',
            url:'<%= baseurl%>/v1/api/course/submit?token='+tokend+"&batch="+batch,
            dataType:'json',
            contentType: "application/json",
            data:JSON.stringify(arr),
            success:function(res) {
              if(res.code == 200 && res.success == 1) {
                    layer.alert(res.msg,{
                        title:'温馨提示',
                        yes:function(){
                        window.location.reload()
                        }
                    })
                }else{
                layer.alert(res.msg,{
                    title:'温馨提示',
                    yes:function(){
                        window.location.reload()
                    }
                })
                }
            },
            error:function(err) {
                layer.alert('网络错误，请稍后再试',{
                    title:'温馨提示',
                    yes:function(){
                    window.location.reload()
                    }
                })
            }
        })
    })

    $(".default-value").on("change",function() {
        var that = this;
        var thisValue = $(that).val();
        var doms = $(that).html();
        var datas = $(that).children();
        var resoveDom = ''
       
        datas.each(function() {
            if(thisValue == $(this).val()) {
                var removeDom = $(this).attr('class')
                resoveDom = $('.'+removeDom);
                $("."+removeDom).remove()
            }
        })
        $(this).attr('disabled','disabled')
        $(that).prepend(resoveDom[0])
        $(this).find('.noselect').remove()
    })



    //demo

    var oldVal = '';
    $(".main-item .default-value").each(function() {
        if($(this).find("option:selected")) {
            var _thisValue = $(this).find("option:selected").val();
            oldVal = $(this).attr('old',_thisValue)
            $(".main-item .default-value").parent().siblings(".main-item").find("option[value="+_thisValue+"]").not("option[value=0]").hide()

        }
    })

    // $(".video_in select").change(function() {
    //     oldVal = $(this).attr('old');
    //     var _thisValue = $(this).find("option:selected").val();
    //     var id = $(this).attr('id')
    //     $(this).parent().siblings("p").find("option[value="+_thisValue+"]").not("option[value=0]").hide();
    //     $(this).parent().siblings("P").find("option[value=]"+oldVal+"]").show();
    //     $(this).find("option[value="+oldVal+"]").show();
    //     $(this).attr('old',_thisValue)
    // })

</script>
</body>

</html>