<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="/style/stuDiscuss.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!--[if !IE]> -->
    <script type="text/javascript" src="/js/tool/jquery.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>
<body>
    <%- include("share/header") %>
        <div class="main-wrapper">
            <%- include("share/stumenu")%>
            <div class="main-box">
             
                    <div class="content-box">
                        <input type="hidden" value="<%= token%>" id="tokend">
                        <input type="hidden" value="<%= batch%>" id="batch">
                        <table>
                            <thead>
                                <tr>
                                    <th> 姓名 </th>
                                    <th> 消毒 </th>
                                    <th> 增菌 </th>
                                    <th> 称重 </th>
                                    <th> 分离 </th>
                                    <th> 初步鉴定 </th>
                                    <th> 确认鉴定1革兰氏染色 </th>
                                    <th> 确认鉴定2血浆凝固酶试验 </th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(var i=0;i<trData['recordlist'].length;i++){%>
                                <tr>
                                    <td><%= trData['recordlist'][i]['user_name']%></td>
                                    <td><%= trData['recordlist'][i]['消毒'] || '-'%></td>
                                    <td><%= trData['recordlist'][i]['增菌'] || '-'%></td>
                                    <td><%= trData['recordlist'][i]['称重'] || '-'%></td>
                                    <td><%= trData['recordlist'][i]['分离'] || '-'%></td>
                                    <td><%= trData['recordlist'][i]['初步鉴定'] || '-'%></td>
                                    <td><%= trData['recordlist'][i]['确认鉴定1革兰氏染色'] || '-'%></td>
                                    <td><%= trData['recordlist'][i]['确认鉴定2血浆凝固酶试验'] || '-'%></td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                        <div class="comments">
                            <p class="file-report">评论区</p>
                            <div class="com-box">
                                <div class="header-icon">
                                    <img src="./images/icon/header.png" alt="头像">
                                </div>
                                <div class="comments-main">
                                    <textarea name="commented" id="commented" cols="30" rows="3" placeholder="我要评论..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="btn-box">
                            <button class="sbtn">发布评论</button>
                        </div>
                        <div class="comments-list">
                            <%for(var i=0;i<trData['comments'].length;i++){%>
                            <div class="list">
                                <div class="header-icon">
                                    <img src="<%= trData['comments'][i]['userHeadImage']%>" alt="<%= trData['comments'][i]['userLoginname']%>">
                                </div>
                                <div class="comments-main">
                                    <% var arr = trData['comments']?trData['comments'][i]['likesUserLoginname'].split(','):[]%>
                                    <% var flag = false %>
                                    <% var userLoginname = userLoginname%>
                                    <%if(arr.length>0) {%>
                                        <% for(var k=0;k<arr.length;k++) {%>
                                            <% if(arr[k] && (arr[k] == userLoginname)) {%>
                                            <% flag = true%>
                                            <%}%>
                                        <%}%>
                                    <%}%>
                                    <span><%= trData['comments'][i]['userLoginname']%></span>
                                    <p><%= trData['comments'][i]['comment']%>
                                         <a href="javascript:void(0)">
                                             <i class="iconfont icon-dianzan" <%= !flag?"onclick=getzan(this)":''%> data-ids="<%= trData['comments'][i]['id']%>" <%= flag?"style=color:#999999":''%>></i>
                                             <%= trData['comments'][i]['likesUserNum']%>
                                            </a>
                                        </p>
                                </div>
                            </div>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        <script type="text/javascript">
            function getzan(This) {
                var attid = $.trim($(This).data('ids'))
                    $.ajax({
                    url:'/getzan',
                    type:'post',
                    dataType:'json',
                    data:{'attid':attid,"atttype":2*1},
                    success:function(res) {
                        console.log(res)
                        if(res && res.success == 1 && res.code == 200) {
                            layer.alert("点赞成功，请勿再赞",{
                                    title:'温馨提示',
                                    yes:function(){
                                        window.location.reload()
                                    }
                                })
                            }else{
                                layer.alert("网络错误，请稍后再试",{
                                    title:'温馨提示',
                                    yes:function(){
                                        window.location.reload()
                                    }
                                })
                        }
                    }
                })
            }
            $(".sbtn").on("click",function() {
                var tokend = $.trim($("#tokend").val())
                var batch = $.trim($("#batch").val())
                var commented = $.trim($("#commented").val())
                if(commented == '' || commented == null) {
                    layer.alert('请输入评论内容',{
                        title:'温馨提示'
                    })
                }else{
                    $.ajax({
                        type:'POST',
                        url:'<%= baseurl%>/v1/api/stu/vrrecord/list/submit?token='+tokend+"&batch="+batch+"&remark="+commented,
                        dataType:'json',
                        contentType: "application/json",
                        success:function(res) {
                           if(res.success == 1 && res.code == 200) {
                                layer.alert(res.msg,{
                                    title:'温馨提示',
                                    yes:function(){
                                        window.location.reload()
                                    }
                                })
                           }else{
                                layer.alert(res.msg,{
                                    title:'温馨提示',
                                    yes:function(){
                                        window.location.reload()
                                    }
                                })
                           }
                            
                        }
                    })
                }
            })
        </script>
</body>

</html>