<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/stuImproveProcess.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <%- include("share/header") %>
    <div class="main-wrapper">
      <div class="main-box">
        <%- include("share/stumenu")%>
        <div class="content-box">
          <div class="desc">请输入流程图中空白部分</div>
            <input type="hidden" value="<%= token%>" id="tokend">
            <input type="hidden" value="<%= batch%>" id="batch">
            <input type="hidden" id="userLoginname" value="<%= userLoginname%>">
            <input type="hidden" id="classBatch" value="<%= batch%>">
            <div class="main">
              <%for(var i=0;i<trData.length;i++) {%>
                  <div class="steps"><%= trData[i]['course_item']%> 
                    <input type="text" class="stepsvalue" data-courseid="<%= trData[i]['course_id']%>" data-itemscore="<%= trData[i]['item_score']%>" data-courseitemid="<%= trData[i]['course_item_id']%>" data-tag="<%= trData[i]['answer']%>">
                  </div>
              <%}%>
            </div>
            <div class="btn-box">
                <input type="submit" class="sbtn" value="提交">
            </div>
      </div>
      </div>
      <script type="text/javascript">
          $(".sbtn").on("click",function() {
            var tokend = $.trim($("#tokend").val())
            var batch = $.trim($("#batch").val())
            var userLoginname = $.trim($('#userLoginname').val())
            var classBatch = $.trim($('#classBatch').val())
            var arr = []
            $(".stepsvalue").each(function(index,item) {
              var rightanswer = $.trim($(this).data('tag'))
              var courseItemId = $.trim($(this).data('courseitemid'))
              var itemScore = $.trim($(this).data('itemscore'))
              var nowAnswer = $.trim($(this).val())
              var obj = {
                answer:nowAnswer,
                classBatch:classBatch,
                courseItemId:courseItemId,
                isRight:0,
                score:0,
                useTime:0,
                userLoginname:userLoginname
              }
              if(rightanswer == nowAnswer) {
                obj['score'] = itemScore*1,
                isRight = 1
              }
              arr.push(obj) 
            })
              $.ajax({
              type:'post',
              url:'http://39.97.119.155:85/v1/api/course/submit?token='+tokend+"&batch="+batch,
              dataType:'json',
              contentType: "application/json",
              data:JSON.stringify(arr),
              success:function(res) {
                if(res.code == 200 && res.success == 1) {
                      layer.alert(res.msg,{
                          title:'温馨提示',
                          yes:function(){
                          window.location.reload()
                          }
                      })
                  }else{
                  layer.alert(res.msg,{
                      title:'温馨提示',
                      yes:function(){
                          window.location.reload()
                      }
                  })
                  }
              },
              error:function(err) {
                  layer.alert('网络错误，请稍后再试',{
                      title:'温馨提示',
                      yes:function(){
                      window.location.reload()
                      }
                  })
              }
          })
          })
      </script>
    </div>
</body>

</html>