<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="/style/tchCorrectRate.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!--[if !IE]> -->
    <script type="text/javascript" src="/js/tool/jquery.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
    <%- include("share/header") %>
        <div class="main-wrapper">
            <%- include("share/tchmenu")%>
            <div class="main-box">
                
                    <div class="content-box">
                        <div class="total-box clearfix">
                            <p class="desc">学习正确率统计</p>
                            <input type="hidden" id="hideData" value="<%= JSON.stringify(trData?trData['course_right_lv']:{})%>">
                            <div class="echart-box clearfix">
                                <% var arr = Object.keys(trData?trData['course_right_lv']:{})%>
                                <%for(var i=0;i<arr.length;i++){%>
                                <div class="redus-left">
                                    <div class="echart<%= i+1%> echart" id="echart<%= i+1%>"></div>
                                    <p>第<%= i+1%>题</p>
                                </div>
                                <%}%>
                            </div>
                        </div>
                        <div class="per-achive">
                            <p class="per-title">
                                <span></span>个人成绩</p>
                            <div class="detail-box">
                                <table>
                                    <thead>
                                        <% var trArr =  Object.keys(trData?trData['course_right_lv']:{})%>
                                        <tr>
                                            <th>姓名</th>
                                            <% for(var i=0;i<trArr.length;i++) {%>
                                                <th>第<%= i+1 %>题</th>
                                            <%}%>
                                            <th>得分</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var dataDetail = trData?trData['course_right_detail']:''%>
                                            <%for(var i=0;i<dataDetail.length;i++) {%>
                                        <tr>
                                            <td><%= dataDetail[i]['userName']%></td>
                                            <td><%= dataDetail[i]&&dataDetail[i]['1'] == 0?'√':'×'%></td>
                                            <td><%= dataDetail[i]&&dataDetail[i]['2'] == 0?'√':'×'%></td>
                                            <td><%= dataDetail[i]&&dataDetail[i]['3'] == 0?'√':'×'%></td>
                                            <td class="score"><%= dataDetail[i]['sumscore']%></td>
                                        </tr>
                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <script src="/js/tool/echarts.min.js"></script>
        <script type="text/javascript">
            var colors = ['#2ec7c9','#b6a2de','#5ab1ef','#ffb980','#8d98b3','#e5cf0d','#97b552','#95706d']
            var obj = JSON.parse($("#hideData").val());
            Object.keys(obj).forEach(function(item,index) {
                var datas = [
					{ value: 100-obj[item], name: '错误率' },
                    { value: obj[item]*1, name: '正确率' }
                ]
				console.log(datas)
                getInit('echart'+(index+1)*1, ['#cccccc', colors[index]], '第'+(index+1)+'题', getData(datas));
            })
            function getInit(obj, color, titile, datas) {
                var myChart = echarts.init(document.getElementById(obj));
                var option = {
                    color: color,
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)",
                        confine:true
                    },
                    legend: {
                        show: false,
                        orient: 'vertical',
                        left: 'left',
                        data: datas.name
                    },
                    series: [
                        {
                            name: titile,
                            type: 'pie',
                            radius: '60%',
                            center: ['50%', '50%'],
                            data: datas.nowData,
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.6)'
                                }
                            },
                            label:{
                                show:true,
                                padding:[5,5],
                                position:'outer',
                                formatter: "{b}({d}%)",//模板变量有 {a}、{b}、{c}、{d}，分别表示系列名，数据名，数据值，百分比。{d}数据会根据value值计算百分比
                                textStyle : {                   
                                    color:'#696767',
                                    align:'center',
                                    verticalAlign:'middle',
                                    fontWeight:'normal',
                                    fontSize:14
                                }
                            },
                            labelLine:{
                                show:true,
                                length:5,
                                length2:10
                            },
                            hoverOffset:0,
                            hoverAnimation:false
                        }
                    ]
                };


                myChart.setOption(option);
            }
            function getData(datas) {
                let names = [];
                let nowData = [];
                var datas = datas;
                // var datas = [
                //     { value: 8, name: '默认数据' },
                //     { value: 92, name: '生化特性' }
                // ]
                datas.forEach(function (item, index) {
                    names.push(item.name);
                    nowData.push(item)
                })
                return {
                    names: names,
                    nowData: nowData
                }
            }



        // var myChart = echarts.init(document.getElementById('echart1'));
        // var option = {
        //     color:['#cccccc','#2ec7c9'],
        //     tooltip: {
        //         trigger: 'item',
        //         formatter: "{a} <br/>{b} : {c} ({d}%)"
        //     },
        //     legend: {
        //         show: false,
        //         orient: 'vertical',
        //         left: 'left',
        //         data: data.name
        //     },
        //     series: [
        //         {
        //             name: '生化特性',
        //             type: 'pie',
        //             radius: '50%',
        //             center: ['50%', '50%'],
        //             data: data.nowData,
        //             itemStyle: {
        //                 emphasis: {
        //                     shadowBlur: 10,
        //                     shadowOffsetX: 0,
        //                     shadowColor: 'rgba(0, 0, 0, 0.6)'
        //                 }
        //             }
        //         }
        //     ]
        // };

        // function getData() {
        //     let names = [];
        //     let nowData = [];
        //     var datas = [
        //         { value: 8, name: '默认数据' },
        //         { value: 92, name: '生化特性' }
        //     ]
        //     datas.forEach(function (item, index) {
        //         names.push(item.name);
        //         nowData.push(item)
        //     })
        //     return {
        //         names: names,
        //         nowData: nowData
        //     }
        // }
        // myChart.setOption(option);
        </script>
</body>

</html>