<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="/style/tchImproveProcess.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!--[if !IE]> -->
    <script type="text/javascript" src="/js/tool/jquery.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
    <%- include("share/header") %>
        <div class="main-wrapper">
            <div class="main-box">
                <%- include("share/tchmenu")%>
                    <div class="content-box">
                        <div class="data-statistics">
                            <div class="diagram">
                                <div class="btn-1 main">
                                    消毒
                                    <img class="arrright" src="/images/arrright.png" alt="">
                                    <div class="qids">第9题</div>
                                </div>
                                <div class="bottom-3 main"></div>
                                <div class="btn-1 main">样品处理</div>
                                <div class="my-2">
                                    <div class="left-bracket"></div>
                                    <div class="qid-list">
                                        <div class="qid">第2题</div>
                                        <div class="qid">第3题</div>
                                    </div>
                                </div>
                                <div class="bottom-3 main"></div>
                                <div class="btn-1 main">增菌</div>
                                <div class="my-1">
                                    <div class="right-bracket"></div>
                                    <div class="qid-list">
                                        <div class="qid">第4题</div>
                                        <div class="qid">第5题</div>
                                    </div>
                                </div>
                                <div class="bottom-3 main"></div>
                                <div class="btn-1 main">分离</div>
                                <div class="my-2">
                                    <div class="left-bracket"></div>
                                    <div class="qid-list">
                                        <div class="qid" style="margin-bottom: 0px;">第6题</div>
                                        <div class="qid">第7题</div>
                                        <div class="qid">第8题</div>
                                    </div>
                                </div>
                                <div class="bottom-4 main"></div>
                                <div class="special main">
                                    <div class="btn-1">初步鉴定</div>
                                    <img class="arrright" src="/images/arrright.png" alt="">
                                    <div class="qids">第9题</div>
                                </div>
                                <div class="bottom-3 main"></div>
                                <div class="btn-1 main">样品处理</div>
                                <div class="my-2">
                                    <div class="left-bracket"></div>
                                    <div class="qid-list">
                                        <div class="qid">第10题</div>
                                        <div class="qid">第11题</div>
                                    </div>
                                </div>
                                <div class="bottom-3 main"></div>
                                <div class="btn-1 main">增菌</div>
                                <div class="my-1">
                                    <div class="right-bracket"></div>
                                    <div class="qid-list">
                                        <div class="qid">第12题</div>
                                        <div class="qid">第13题</div>
                                    </div>
                                </div>
                            </div>
                            <div id="chart" style="width:540px;height: 390px;"></div>
                            <div style="position:relative;top: 400px;left: -264px;">正确率</div>
                        </div>
                        <div class="achievement">
                            <div class="achievement-title">
                                <b>个人成绩</b>
                            </div>
                            <div class="table-box">
                                <table border="1" style="border-collapse:collapse;" id="blocks" sortCol="-1">
                                    <thead>
                                        <tr>
                                            <th>姓名</th>
                                            <th>称重</th>
                                            <th>增菌</th>
                                            <th>血浆凝固酶试验</th>
                                            <th>消毒</th>
                                            <th>革兰氏染色</th>
                                            <th>得分</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0;i<trData.length;i++) {%>
                                            <tr>
                                                <td><%= trData[i]['user_name']%></td>
                                                <td><%= trData[i]['称重']%></td>
                                                <td><%= trData[i]['增菌']%></td>
                                                <td><%= trData[i]['血浆凝固酶试验']%></td>
                                                <td><%= trData[i]['消毒']%></td>
                                                <td><%= trData[i]['革兰氏染色']%></td>
                                            </tr>
                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <script src="/js/tool/echarts.min.js"></script>
        <script>
            $(function () {
                var myChart = echarts.init(document.getElementById('chart'), 'macarons');
                myChart.setOption({
                    tooltip: {
                        trigger: 'axis'
                    },
                    grid: {
                        bottom: '20%'
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: { show: true },
                            dataView: { show: true, readOnly: true },
                            magicType: { show: true, type: ['bar'] },
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    calculable: true,
                    xAxis: {
                        axisLine: {
                            lineStyle: { width: 2 }
                        },
                        type: 'category',
                        data: ['第 1 题', '第 2 题', '第 3 题', '第 4 题', '第 5 题', '第 6 题', '第 7 题', '第 8 题']
                    },
                    yAxis: {
                        axisLine: {
                            lineStyle: { width: 2 }
                        },
                        type: 'value',
                        axisLabel: { formatter: '{value}%' },
                        splitLine: {
                            lineStyle: {
                                type: 'solid',
                                width: '2',
                                color: '#eeeeee'
                            }
                        },//去除网格线
                        splitArea: {
                            areaStyle: {
                                color: '#fff'
                            }
                        }
                    },
                    series: [
                        {
                            name: '正确率',
                            barWidth: 32,
                            type: 'bar',
                            data: [90, 80, 33, 14, 88, 60, 45, 70],

                            itemStyle: {
                                normal: {
                                    barBorderRadius: 4,
                                    color: function (param) {
                                        if (param.value < 50) {
                                            return '#dea2a2'
                                        }
                                        else {
                                            return '#2ec7c9'
                                        }
                                    },
                                    label: {
                                        show: true,
                                        color: '#333',
                                        position: 'top',
                                        formatter: '{c}%'
                                    }
                                }
                            }
                        }
                    ]
                });
            })
        </script>
</body>

</html>