<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/tchPanelData.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <%- include("share/header") %>
    <div class="main-wrapper">
        <%- include("share/tchmenu")%>
      <div class="main-box">
       
        <div class="content-box">
            <table>
                <thead>
                    <tr>
                        <th>小组</th>
                        <th>称重</th>
                        <th>增菌</th>
                        <th>消毒</th>
                        <th>分离</th>
                        <th>初步鉴定</th>
                        <th>确认鉴定1革兰氏染色</th>
                        <th>确认鉴定2血浆凝固酶试验</th>
                    </tr>
                </thead>
                <tbody>
                    <%for(var i=0;i<trData.length;i++) {%>
                        <tr>
                            <td>第<%= i+1%>组</td>
                            <td><%= trData[i]['增菌']?trData[i]['增菌']:0 %></td>
                            <td><%= trData[i]['消毒']?trData[i]['消毒']:0 %></td>
                            <td><%= trData[i]['称重']?trData[i]['称重']:0 %></td>
                            <td><%= trData[i]['分离']?trData[i]['分离']:0 %></td>
                            <td><%= trData[i]['初步鉴定']?trData[i]['初步鉴定']:0 %></td>
                            <td><%= trData[i]['确认鉴定1革兰氏染色']?trData[i]['确认鉴定1革兰氏染色']:0 %></td>
                            <td><%= trData[i]['确认鉴定2血浆凝固酶试验']?trData[i]['确认鉴定2血浆凝固酶试验']:0 %></td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
            <div class="item-box clearfix">
                <% if(trData.length > 0) {%>
                <%for(var i=0;i<trData.length;i++) {%>
                <div class="item">
                    <p class="item-title">第<%= i+1%>小组讨论总结</p>
                    <% if(trData[i]['comments'].length > 0) {%>
                    <%for(var k=0;k<trData[i]['comments'].length;k++) {%>
                    <div class="list">
                        <div class="header-icon">
                            <img src="<%= trData[i]['comments'][k]['userHeadImage']%>" alt="<%= trData[i]['comments'][k]['userLoginname']%>">
                        </div>
                        <div class="comments-main">
                            <span><%= trData[i]['comments'][k]['userLoginname']%></span>
                            <p><%= trData[i]['comments'][k]['comment']%> </p>
                        </div>
                    </div>
                    <%}%>
                    <%}%>
                </div>
                <%}%>
                <%}%>
            </div>
        </div>
      </div>
    </div>
</body>

</html>