<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/tchRegroup.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <%- include("share/header") %>
    <div class="main-wrapper">
      <div class="main-box">
        <%- include("share/menu")%>
        <div class="group">
                <div class="group-left">
                    <table border="1" style="border-collapse:collapse;" id="hTable" sortCol="-1">
                        <thead>
                        <tr>
                            <th>学生</th>
                            <th class="score">得分<b class="operate-arrow"></b></th>
                        </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0;i<trData['left'].length;i++) {%>
                                <tr>
                                    <td><%= trData['left'][i]['user_name']%></td>
                                    <td><%= trData['left'][i]['score']%></td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
                <div class="group-right">
                    <div class="every-list">
                        <div class="group-title">
                            <span>选择第一小组名单：</span>
                            <div class="rt">
                                <select name="" id="" class="lf">
                                    <% for(var i=0;i<trData['right'].length;i++) {%>
                                        <option value="<%= trData[i]['sysClassId']%>"><%= trData[i]['userName']%></option>
                                    <%}%>
                                </select>
                                <button class="lf  add-meber">选择</button>
                            </div>
                        </div>
                        <div class="team-members">
                        </div>
                    </div>
                    <div class="every-list">
                        <div class="group-title">
                            <span>选择第二小组名单：</span>
                            <div class="rt">
                                <select name="" id="" class="lf">
                                    <% for(var i=0;i<trData.length;i++) {%>
                                        <option value="<%= trData[i]['sysClassId']%>"><%= trData[i]['userName']%></option>
                                    <%}%>
                                </select>
                                <button class="lf add-meber">选择</button>
                            </div>
                        </div>
                        <div class="team-members">
                        </div>
                    </div>
                    <div class="every-list">
                        <div class="group-title">
                            <span>选择第三小组名单：</span>
                            <div class="rt">
                                <select name="" id="" class="lf">
                                    <% for(var i=0;i<trData.length;i++) {%>
                                        <option value="<%= trData[i]['sysClassId']%>"><%= trData[i]['userName']%></option>
                                    <%}%>
                                </select>
                                <button class="lf add-meber" >选择</button>
                            </div>
                        </div>
                        <div class="team-members">
                        </div>
                    </div>
                    <button type="button" class="submit-btn">确认</button>
                </div>
            </div>
      </div>
    </div>
    <script src="/js/sort.js"></script>
    <script>
        $(function(){
            $("#hTable").sortTable();
            $('.group-right .every-list').each(function(){
                $(this).children('.team-members').on('click','span',function(){
                    $(this).remove();
                })
            });
            $('.group-right .every-list').each(function(){
                $(this).find('.add-meber').click(function(){
                    var seleName=$(this).prev('select').find('option:selected').text();
                    $(this).parents('.group-title').next('.team-members').append('<span>'+seleName+'<b></b></span>');
                })
            });
            //点击确认提交表单
            $('.submit-btn').click(function(){
                //提交表单
            })
        });
    
    </script>
</body>

</html>