<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/tchRegroup.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <%- include("share/header") %>
    <div class="main-wrapper">
      <div class="main-box">
          <input type="hidden" value="<%= token%>" id="tokend">
        <%- include("share/tchmenu")%>
        <div class="group">
                <div class="group-left">
                    <table border="1" style="border-collapse:collapse;" id="hTable" sortCol="-1">
                        <thead>
                        <tr>
                            <th>学生</th>
                            <th class="scored">得分<b class="operate-arrow"></b></th>
                        </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0;i<trData['left'].length;i++) {%>
                                <tr>
                                    <td><%= trData['left'][i]['user_name']%></td>
                                    <td><%= trData['left'][i]['score']%></td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
                <div class="group-right">
                    <div class="every-list">
                        <div class="group-title">
                            <span>选择第一小组名单：</span>
                            <div class="rt">
                                <select name="" id="" class="lf">
                                   <%for(var i=0;i<trData['right'].length;i++) {%>
                                    <option sysid="<%= trData['right'][i]['sysClassId']%>"><%= trData['right'][i]['userName']%></option>
                                    <%}%>
                                </select>
                                <button class="lf  add-meber" id="1">选择</button>
                            </div>
                        </div>
                        <div class="team-members">
                        </div>
                    </div>
                    <div class="every-list">
                        <div class="group-title">
                            <span>选择第二小组名单：</span>
                            <div class="rt">
                                <select name="" id="" class="lf">
                                    <% for(var i=0;i<trData['right'].length;i++) {%>
                                        <option sysid="<%= trData['right'][i]['sysClassId']%>"><%= trData['right'][i]['userName']%></option>
                                    <%}%>
                                </select>
                                <button class="lf add-meber" id="2">选择</button>
                            </div>
                        </div>
                        <div class="team-members">
                        </div>
                    </div>
                    <div class="every-list">
                        <div class="group-title">
                            <span>选择第三小组名单：</span>
                            <div class="rt">
                                <select name="" id="" class="lf">
                                    <% for(var i=0;i<trData['right'].length;i++) {%>
                                        <option sysid="<%= trData['right'][i]['sysClassId']%>"><%= trData['right'][i]['userName']%></option>
                                    <%}%>
                                </select>
                                <button class="lf add-meber" id="3">选择</button>
                            </div>
                        </div>
                        <div class="team-members">
                        </div>
                    </div>
                    <button type="button" class="submit-btn">确认</button>
                </div>
            </div>
      </div>
    </div>
    <script src="/js/sort.js"></script>
    <script>
        $(function(){
            $("#hTable").sortTable();
            $('.group-right .every-list').each(function(){
                $(this).children('.team-members').on('click','span',function(){
                    var sysGroupId = $.trim($(this).data('sysgroupid')) 
                    var seleName=$.trim($(this).text());
                    var sysClassId=$.trim($(this).data('sysclassid'));
                    var obj = {
                        sysClassId:sysClassId,
                        sysGroupId:sysGroupId,
                        userLoginname:seleName
                    }
                    for(var i=0;i<dataArr.length;i++) {
                        if(dataArr[i]['sysClassId'] == obj['sysClassId'] && dataArr[i]['sysGroupId'] == obj['sysGroupId'] && dataArr[i]['userLoginname'] == obj['userLoginname']) {
                             dataArr.splice(i,1)
                        }
                    }
                    $(this).remove();
                })
            });
            var dataArr = []
            $('.group-right .every-list').each(function(){
                $(this).find('.add-meber').click(function(){
                    var sysGroupId = $.trim($(this).attr('id')) 
                    var seleName=$(this).prev('select').find('option:selected').text();
                    var sysId=$(this).prev('select').find('option:selected').attr('sysid');
                    var obj = {
                        "sysClassId":sysId*1,
                        "sysGroupId":sysGroupId*1,
                        "userLoginname":seleName
                    }

                    if(objInArray(obj,dataArr)) {
                        console.log(111)
                    }else{
                        splitDom($(this),sysGroupId,dataArr)
                    }
                    
                })
            });
            var tokend = $.trim($("#tokend").val())
            //点击确认提交表单
            $('.submit-btn').click(function(){
                $.ajax({
                    type:'post',
                    url:'http://118.31.8.72:89/v1/api/tea/group/repartDiscuss/confirm?token='+tokend,
                    dataType:'json',
                    contentType: "application/json",
                    data:JSON.stringify(dataArr),
                    success:function(res) {
                      if(res.success == 1 && res.code == 200) {
                        layer.alert(res.msg,{
                            title:'温馨提示'
                        })
                      }else{
                        layer.alert('网络错误，请稍后再试',{
                            title:'温馨提示'
                        })
                      }  
                    }
                })
            })
        });
        function objInArray(obj,arr) {
            var flag = false;
            if(arr.length>0) {
                for(var i=0;i<arr.length;i++) {
                    if(arr[i]['sysClassId'] == obj['sysClassId'] && arr[i]['userLoginname'] == obj['userLoginname']) {
                        flag = true;
                        break;
                    }
                }
                if(flag == false) {
                    arr.push(obj)
                }else{
                    layer.alert('该组员已被分配',{
                        title:'温馨提示'
                    })
                    return true;
                }
            }else{
                arr.push(obj)
            }
            return flag
        }

        function splitDom(obj,sysGroupId,dataArr) {
            obj.parents('.group-title').next('.team-members').html('')
            var str = ''
            for(var i=0;i<dataArr.length;i++) {
                if(dataArr[i]['sysGroupId'] == sysGroupId) {
                    str += "<span data-sysclassid="+dataArr[i]['sysClassId']+" data-sysgroupid="+dataArr[i]['sysGroupId']+">"+dataArr[i]['userLoginname']+"<b></b></span>"
                }
            }
           obj.parents('.group-title').next('.team-members').append(str);
        }
    </script>
</body>

</html>