<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/tchVerifyProcess.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <%- include("share/header") %>
    <div class="main-wrapper">
      <div class="main-box">
        <%- include("share/tchmenu")%>
        <div class="content-box">
            <div class="process-box">
              <%for(var i=0;i<step.length;i++) {%>
              <div class="step-item">
                <input type="text" value="<%= step[i]['course_item']%>" readonly>
              </div>
              <%}%>
            </div>
            <div class="list-box">
                <% var arr = Object.keys(trData)%>
                <% arr.forEach(function(item,index) {%>
                <div class="list">
                    <div class="list-title clearfix">
                        <p><strong><%= index*1+1%> </strong> 正确答案： <span><%= item.substr(0,item.length-2) %></span></p>
                        <% var rnum = 0;var wnum = 0%>
                        <%if(item.substr(item.length-1,1) == 'r') {%>
                            <% rnum = item.split(',').length%>
                          <%} else {%>
                            <% wnum = item.split(',').length%>
                          <%}%>
                        <p class="allright">全班正确率<%= rnum/(rnum+wnum).toFixed(2)*100%>%</p>
                    </div>
                    <%if(item.substr(item.length-1,1) == 'r') {%>
                      <div class="list-right">
                          答对学生（<strong><%= item.split(',').length%></strong>）：
                          <span><%= trData[item]%></span>
                      </div>
                    <%} else {%>
                        <div class="list-wrong">
                            答错学生（<strong><%= item.split(',').length%></strong>）：
                            <span><%= trData[item]%></span>
                        </div>
                    <%}%>
                </div>
                <%})%>
            </div>
        </div>
      </div>
    </div>
</body>

</html>