<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="/style/tchVR.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!--[if !IE]> -->
    <script type="text/javascript" src="/js/tool/jquery.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
    <%- include("share/header") %>
        <div class="main-wrapper">
            <div class="main-box">
                <%- include("share/menu")%>
                    <div class="content-box">
                        <div class="tab-main-wrapper">
                            <div class="tab-main active">
                                <p class="per-title"><span></span>个人成绩</p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>姓名</th>
                                            <th>消毒</th>
                                            <th>增菌</th>
                                            <th>称重</th>
                                            <th>革兰氏染色</th>
                                            <th>血浆凝固酶试验</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0;i<trData.length;i++) {%>
                                        <tr>
                                            <td><%= trData[i]['user_name']%></td>
                                            <td><%= trData[i]['消毒']%></td>
                                            <td><%= trData[i]['增菌']%></td>
                                            <td><%= trData[i]['称重']%></td>
                                            <td><%= trData[i]['革兰氏染色']%></td>
                                            <td><%= trData[i]['血浆凝固酶试验']%></td>
                                        </tr>
                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</body>

</html>