<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="/style/tchVR.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!--[if !IE]> -->
    <script type="text/javascript" src="/js/tool/jquery.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
    <%- include("share/header") %>
        <div class="main-wrapper">
            <%- include("share/tchmenu")%>
            <div class="main-box">
               
                    <div class="content-box">
                        <div class="tab-main-wrapper">
                            <div class="tab-main active">
                                <p class="per-title"><span></span>个人成绩</p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>姓名</th>
                                            <th>称重</th>
                                            <th>增菌</th>
                                            <th>消毒</th>
                                            <th>分离</th>
                                            <th>初步鉴定</th>
                                            <th>确认鉴定1革兰氏染色</th>
                                            <th>确认鉴定2血浆凝固酶试验</th>
                                            <th>得分</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0;i<trData['vrrecord_score'].length;i++) {%>
                                            <tr>
                                                <td><%= trData['vrrecord_score'][i]['user_name']%></td>
                                                <td data-num="<%= trData['vrrecord_score'][i]['称重']?trData['vrrecord_score'][i]['称重']*1:0*1%>"><%= trData['vrrecord_score'][i]['称重']*1 > 0?'√':'x'%></td>
                                                <td data-num="<%= trData['vrrecord_score'][i]['增菌']?trData['vrrecord_score'][i]['增菌']*1:0*1%>"><%= trData['vrrecord_score'][i]['增菌']*1 > 0 ? '√':'x'%></td>
                                                <td data-num="<%= trData['vrrecord_score'][i]['消毒']?trData['vrrecord_score'][i]['消毒']*1:0*1%>"><%= trData['vrrecord_score'][i]['消毒']*1 > 0 ? '√':'x'%></td>
                                                <td data-num="<%= trData['vrrecord_score'][i]['分离']?trData['vrrecord_score'][i]['分离']*1:0*1%>"><%= trData['vrrecord_score'][i]['分离']*1 > 0 ? '√':'x'%></td>
                                                <td data-num="<%= trData['vrrecord_score'][i]['初步鉴定']?trData['vrrecord_score'][i]['初步鉴定']*1:0*1%>"><%= trData['vrrecord_score'][i]['初步鉴定']*1 > 0 ? '√':'x'%></td>
                                                <td data-num="<%= trData['vrrecord_score'][i]['确认鉴定1革兰氏染色']?trData['vrrecord_score'][i]['确认鉴定1革兰氏染色']*1:0*1%>"><%= trData['vrrecord_score'][i]['确认鉴定1革兰氏染色']*1 > 0 ? '√':'x'%></td>
                                                <td data-num="<%= trData['vrrecord_score'][i]['确认鉴定2血浆凝固酶试验']?trData['vrrecord_score'][i]['确认鉴定2血浆凝固酶试验']*1:0*1%>"><%= trData['vrrecord_score'][i]['确认鉴定2血浆凝固酶试验']*1 > 0 ?'√':'x'%></td>
                                                <%var cz = trData['vrrecord_score'][i]['称重']?trData['vrrecord_score'][i]['称重']*1:0*1%>
                                                <%var jd1 = trData['vrrecord_score'][i]['确认鉴定2血浆凝固酶试验']?trData['vrrecord_score'][i]['确认鉴定2血浆凝固酶试验']*1:0*1%>
                                                <%var zj = trData['vrrecord_score'][i]['增菌']?trData['vrrecord_score'][i]['增菌']*1:0*1%>
                                                <%var cbjd = trData['vrrecord_score'][i]['初步鉴定']?trData['vrrecord_score'][i]['初步鉴定']*1:0*1%>
                                                <%var xd = trData['vrrecord_score'][i]['消毒']?trData['vrrecord_score'][i]['消毒']*1:0*1%>
                                                <%var jd2 = trData['vrrecord_score'][i]['确认鉴定1革兰氏染色']?trData['vrrecord_score'][i]['确认鉴定1革兰氏染色']*1:0*1%>
                                                <%var fl = trData['vrrecord_score'][i]['分离']?trData['vrrecord_score'][i]['分离']*1:0*1%>
                                                <td><%= cz*1 +jd1*1+zj*1+xd*1+cbjd*1+xd*1+jd2*1+fl*1%></td>
                                            </tr>
                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <script type="text/javascript" src="/js/common.js"></script>
</body>

</html>