<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/style/stuVideo.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!--[if !IE]> -->
  <script type="text/javascript" src="/js/tool/jquery.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript" src="/js/tool/layer/layer.js"></script>
</head>

<body>
  <%- include("share/header") %>
    <div class="main-wrapper">
        <%- include("share/tchmenu")%>
      <div class="main-box">
        <div class="content-box clearfix">
            <%if(trData && trData.length > 0) {%>
            <%for(var i=0;i<trData.length;i++){%>
            <div class="list">
                <video src="<%= trData[i]['upload_net_url']%>" controls="controls"></video>
                <div class="desc clearfix">
                    <p class="desc-detail"><%= trData[i]['user_name']%></p>
                    <p class="desc-btns">
                        <% var arr = trData[i]['likes_user_loginname']?trData[i]['likes_user_loginname'].split(','):[]%>
                        <% var flag = false %>
                        <% var userLoginname = userLoginname%>
                        <%if(arr.length>0) {%>
                          <% for(var k=0;k<arr.length;k++) {%>
                              <% if(arr[k] && (arr[k] == userLoginname)) {%>
                                <% flag = true%>
                              <%}%>
                          <%}%>
                        <%}%>
                        <a href="javascript:void(0)" <%= !flag?"onclick=getzan(this)":''%> class="btn-zan" data-ids="<%= trData[i]['attid']%>"><i class="iconfont icon-dianzan" <%= flag?"style=color:#999999":''%> ></i><%= trData[i]['likes_user_num']%></a>
                        <a href="/videodetail.html?attid=<%= trData[i]['attid']%>" ><i class="iconfont icon-xiaoxi"></i><%= trData[i]['comments']?trData[i]['comments'].length:0%></a>
                    </p>
                </div>
            </div>
            <%}%>
            <%} else {%>
              <p style="text-align: center;color: red;line-height: 100px;font-size: 18px;">学员暂未上传视频</p>
            <%}%>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function getzan(This) {
        var attid = $.trim($(This).data('ids'))
        $.ajax({
          url:'/getzan',
          type:'post',
          dataType:'json',
          data:{'attid':attid,"atttype":1*1},
          success:function(res) {
            if(res && res.success == 1 && res.code == 200) {
              layer.alert("点赞成功，请勿再赞",{
                    title:'温馨提示',
                    yes:function(){
                        window.location.reload()
                    }
                })
            }else{
              layer.alert("网络错误，请稍后再试",{
                  title:'温馨提示',
                  yes:function(){
                      window.location.reload()
                  }
              })
            }
          }
        })
      }
    </script>
</body>

</html>