<div class="sidebar">
    <div class="back">
        <a href="/stubeforeclass.html">
            <i class="iconfont icon-home"></i>返回首页</a>
    </div>
    <div class="menu">
        <a href="javascript:void(0)">
            <i class="iconfont icon-home"></i>课前</a>
        <ul class="tab">
            <li <%= nowurl == '/stubeforeclass' ? 'class = active': ''%> >
                <a href="/stubeforeclass.html">课前习题</a>
            </li>
        </ul>
    </div>

    <div class="menu">
        <a href="javascript:void(0)">
            <i class="iconfont icon-home"></i>课中
        </a>
        <ul class="tab">
            <li <%= nowurl == '/stucheckprocess' ? 'class = active': ''%>>
                <a href="/stucheckprocess.html">检验流程</a>
            </li>
            <li <%= nowurl == '/stuanswerprocess' ? 'class = active': ''%>>
                <a href="/stuanswerprocess.html">检验流程成绩</a>
            </li>
            <li <%= nowurl == '/stuimproveprocess' ? 'class = active': ''%>>
                <a href="/stuimproveprocess.html">完善流程</a>
            </li>
            <li <%= nowurl == '/stuvr' ? 'class = active': ''%>>
                <a href="/stuvr.html">VR实验</a>
            </li>
            <li <%= nowurl == '/stuupload' ? 'class = active': ''%>>
                <a href="/stuupload.html">视频上传</a>
            </li>
            <li <%= nowurl == '/stuvideo' ? 'class = active': ''%>>
                <a href="/stuvideo.html">视频</a>
            </li>
            <li <%= nowurl == '/studiscuss' ? 'class = active': ''%>>
                <a href="/studiscuss.html">讨论</a>
            </li>
            <li <%= nowurl == '/stuaftercalss' ? 'class = active': ''%>>
                <a href="/stuaftercalss.html">点评</a>
            </li>
        </ul>
    </div>
    <div class="menu">
        <a href="javascript:void(0)">
            <i class="iconfont icon-home"></i>课后
        </a>
        <ul class="tab">
            <li <%= nowurl == '/stusummarize' ? 'class = active': ''%>><a href="/stusummarize.html">总结</a></li>
        </ul>
    </div>
</div>