<div class="sidebar">
    <div class="back">
        <a href="tchbeforeclass.html">
            <i class="iconfont icon-home"></i>返回首页</a>
    </div>
    <div class="menu">
        <a href="javascript:void(0)">
            <i class="iconfont icon-home"></i>课前</a>
        <ul class="tab">
            <li <%= nowurl == '/tchbeforeclass' ? 'class = active': ''%>>
                <a href="tchbeforeclass.html">课前习题</a>
            </li>
            <li <%= nowurl == '/tchcorrectrate' ? 'class = active': ''%>>
                <a href="/tchcorrectrate.html">课前习题-正确率统计</a>
            </li>
        </ul>
    </div>

    <div class="menu">
        <a href="javascript:void(0)">
            <i class="iconfont icon-home"></i>课中</a>
        <ul class="tab">
            <li <%= nowurl == '/tchverifyprocess' ? 'class = active': ''%>>
                <a href="/tchverifyprocess.html">检验流程</a>
            </li>
            <li <%= nowurl == '/tchimproveprocess' ? 'class = active': ''%>>
                <a href="/tchimproveprocess.html">完善流程</a>
            </li>
            <li <%= nowurl == '/tchvr' ? 'class = active': ''%>>
                <a href="/tchvr.html">VR实验</a>
            </li>
            <li <%= nowurl == '/tchupload' ? 'class = active': ''%>>
                <a href="/tchupload.html">上传视频</a>
            </li>
            <li <%= nowurl == '/tchregroup' ? 'class = active': ''%>>
                <a href="/tchregroup.html">分组</a>
            </li>
            <li <%= nowurl == '/tchpaneldata' ? 'class = active': ''%>>
                <a href="/tchpaneldata.html">小组数据</a>
            </li>
            <li <%= nowurl == '/tchvrcheck' ? 'class = active': ''%>>
                <a href="/tchvrcheck.html">VR考核</a>
            </li>
            <li <%= nowurl == '/tchvideoreview' ? 'class = active': ''%>>
                <a href="/tchvideoreview.html">视频点评</a>
            </li>
        </ul>
    </div>
    <div class="menu">
        <a href="student-af.html">
            <i class="iconfont icon-home"></i>课后</a>
            <ul class="tab">
                <li <%= nowurl == '/tchafterclass' ? 'class = active': ''%>><a href="/tchafterclass.html">课后报告</a></li>
            </ul>
    </div>
</div>